DATABASE_URL=""

# Application
NODE_ENV="development"
PORT=3000
APP_URL="http://localhost:3000"
QR_BASE_URL="http://localhost:3000/api/scan"

# JWT Auth
JWT_SECRET=""
JWT_REFRESH_SECRET=""
JWT_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""